.first-title {
    color: white;
    &__primary {
        display: block;
        font-size: 5rem;
        font-weight: 800;
        letter-spacing: 1rem;
        text-transform: uppercase;
    }
    &__secondary {
        margin-top: 1rem;
        font-size: 4rem;
        font-weight: 300;
        letter-spacing: 0.5rem;
    }
}