@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

html {
    font-size: 62.5%;
    @include adaptation(1400) {
        font-size: 55%;
    }
    @include adaptation(992) {
        font-size: 45%;
    }
    @include adaptation(576) {
        font-size: 36%;
    }
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    color: $color-grey;
    letter-spacing: 0.2rem;
}

.first-title {
    color: white;
    &__primary {
        display: block;
        font-size: 5rem;
        font-weight: 800;
        letter-spacing: 1rem;
        text-transform: uppercase;
    }
    &__secondary {
        margin-top: 1rem;
        font-size: 4rem;
        font-weight: 300;
        letter-spacing: 0.5rem;
    }
}

.two-title {
    font-size: 3.6rem;
    font-weight: 800;
    letter-spacing: 1rem;
    text-transform: uppercase;
    background: $gradien-brown-light-brown-darck;
    background-clip: text;
    color: transparent;
    transition: all .3s;
    backface-visibility: hidden;
    text-shadow: (0 .4rem .4rem rgba(0, 0, 0, 0.25));
    &:hover {
        transform: rotate(4deg);
    }
    &_white {
        color: white;
    }
}

.three-title {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
}

.four-title {
    font-size: 2.8rem;
    font-weight: 300;
    color: white;
    &__span {
        display: inline-block;
        background: $gradien-brown-light-brown-darck;
        &_1 {
            padding: 1.5rem 2rem 0 2rem;
        }
        &_2 {
            padding: 0 2rem 1.5rem 2rem;
        }
    }
}