.about {
    padding: 8rem 0 5rem 0;
    &__grid {
        margin-top: 8rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 6.7rem;
    }
    &__two-title {
        display: block;
        text-align: center;
    }
    &__three-title {
        &:not(:first-child) {
            margin-top: 4.5rem;
        }
    }
    &__text {
        &:not(:first-child) {
            margin-top: 1rem;
        }
    }
    &__btn-text {
        margin-top: 4.4rem;
    }
    @include adaptation(768) {
        &__grid {
            grid-template-columns: 1fr;
            grid-template-rows: auto 35rem;
        }
    }
}