.footer {
    padding: 8rem 10rem;
    background-color: #333;
    &__logo {
        display: block;
        margin: 0 auto;
        height: 15.1rem;
        width: 12rem;
    }
    &__list {
        margin-top: 5rem;
        text-align: center;
    }
    &__list-item {
        display: inline-block;
        transition: all .7s;
        &:not(:first-child) {
            margin-left: 5rem;
        }
        &:hover {
            transform: rotate(5deg) scale(1.1);
            & > a {
                color: $Brown-color-light;
            }
        }
        a {
            color: white;
            font-weight: 300;
            text-transform: uppercase;
            text-decoration: none;
            transition: all .7s;
        }
    }
}