.navigation {
    &__checkbox {
        display: none;
    }
    &__menu {
        position: fixed;
        right: 10rem;
        top: 10rem;
        width: 7rem;
        height: 7rem;
        background-color: white;
        border-radius: 100%;
        z-index: 100;
        cursor: pointer;
        transition: all .1s;
        &:hover {
            box-shadow: $b-shadow;
            transform: translateY(-.2rem);

        }
        &:hover > .navigation__hamburger {
            &::after,&::before {
                top: 1.3rem;
            }
            &::before {
                top: -1.3rem;
            }
        }
        &:active {
            transform: translateX(0);
        }
    }  
    &__hamburger {
        width: 3rem;
        height: .3rem;
        background-color: black;
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: all .3s;
        &::after,&::before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 1rem;
            width: 3rem;
            height: .3rem;
            background-color: black;
            transition: all .7s;
        }
        &::before {
            top: -1rem;
            transition: all .7s;
        }
    }  
    &__background {
        position: fixed;
        right: 11rem;
        top: 11rem;
        background-color: $Brown-color-dark;
        width: 5rem;
        height: 5rem;
        border-radius:100%;
        z-index: 98;
        transition: all .8s;
    }
    &__checkbox:checked ~ .navigation__background {
        transform: scale(100);
    }
    &__checkbox:checked ~ nav .navigation__list {
        top: 50%;
        left: 50%;
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
    &__checkbox:checked ~ label > .navigation__hamburger {
        background-color: transparent;
        &::after,&::before {
            transform: rotate(45deg);
            top: 0;
        }
        &::before {
            transform: rotate(-45deg);
        }
    }
    &__list {
        position: fixed;
        top: -20%;
        left: 80%;
        transform: translate(0, 0) scale(0);
        opacity: 0;
        z-index: 99;
        transition: all .8s;
    }
    &__item {
        &:not(:first-child) {
            margin-top: 5rem;
        }
        a {
            font-size: 4rem;
            font-weight: 300;
            letter-spacing: .5rem;
            color: white;
            text-decoration: none;
        }
    }
    @include adaptation(576) {
        &__menu {
            right: 2rem;
            top: 2rem;
        }
        &__background {
            right: 3rem;
            top: 3rem;
        }
        &__list {
            width: 100%;
        }
        &__item {
            text-align: center;
            a {
                display: block;
                width: 100%;
                font-size: 4.4rem;
            }
        }
    }
}