.section-form {
    padding: 10rem;
    background-image: $gradien-brown-light-brown-darck;
    &__block-form {
        background-image: linear-gradient(110deg, rgba(255, 255, 255, 0.90) 55%, rgba(255, 255, 255, 0) 55%), url('./../img/form-img/form-img.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 5rem;
        border-radius: .5rem;
        box-shadow: $b-shadow;
    }
    &__form {
        margin-top: 3rem;
    }
    @include adaptation(576) {
        padding: 1rem;
    }
}