.tours {
    padding: 8rem 0;
    text-align: center;
    &__list {
        margin-top: 8rem;
        display: grid;
        grid-template-columns: repeat(3, calc((100% - 12rem) / 3));
        grid-template-rows: auto;
        gap: 6rem;
    }
    &__btn {
        margin-top: 8rem;
    }
    @include adaptation(768) {
        &__list {
            justify-content: center;
            grid-template-columns: .7fr;
        }
    }
}