.btn {
    &, &:link, &:visited {
        position: relative;
        transition: all .3s;
        display: inline-block;
        width: 27.7rem;
        padding: 1.5rem 0;
        background-color: $color-white;
        text-decoration: none;
        border-radius: 5rem;
        font-size: 2rem;
        font-weight: 600;
        color: $color-grey;
        text-align: center;
        z-index: 1;
    }
    &:hover {
        box-shadow: $b-shadow;
        transform: translateY(-0.4rem);
        &::after {
            transform: scale(1.3, 2);
            opacity: 0;
        }
    }
    &:active {
        transform: translateY(-0.2rem);
        box-shadow: $b-shadow;
    }
    &::after {
        transition: all .3s;
        content: '';
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color-white;
        z-index: -1;
        border-radius: 5rem
    }
    &_brown {
        &, &:link, &:visited{
            background: $Brown-color-light;
            color: $color-white;
            border: none;
        }
        &::after {
            background: $Brown-color-light;
        }
    }
}

